Source: libqtwebapp
Priority: optional
Maintainer: Dominic Meiser <meiserdo@web.de>
Build-Depends: debhelper (>= 9), qtbase5-dev, cmake (>= 3.1)
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/msrd0/QtWebApp
Vcs-Git: https://github.com/msrd0/QtWebApp.git
Vcs-Browser: https://github.com/msrd0/QtWebApp

Package: libqtwebapp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: QtWebApp is a HTTP server library in C++
 QtWebApp is a HTTP server library in C++, inspired by Java Servlets.

Package: libqtwebapp-dev
Section: libdevel
Architecture: all
Depends: libqtwebapp (= ${binary:Version})
Description: QtWebApp development files
 QtWebApp development files
